<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%=@tour.tour_name%> <%=t("usermailer.newtour.new")%>.</h1>
    <p><%=t("usermailer.newtour.info")%> <%=tour_path(@tour.id)%></p>
  </body>
</html>