<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%=t("usermailer.totalbyday.total")%> <%= @total_money %></p>
  </body>
</html>