<% provide(:title, t("bookings.shared.cancel")) %>
<div class="jumbotron text-center">
  <h1 class="display-3"><%= t "bookings.shared.cancel" %></h1>
  <p class="lead"><strong><%= t "bookings.shared.info" %></strong></p>
</div>