<% provide(:title, t("tour.edit.update")) %>
<% provide(:button_label, t("tour.edit.update")) %>
<div class="row d-flex justify-content-center">  
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center"><%=t("tour.edit.update")%></h1>
    <%= render 'layouts/form_tour' %>
  </div>
</div>