<% provide(:title, t("tags.new.title")) %>
<% provide(:button_label, t("tags.new.button")) %>
<div class="container">
  <div class="row d-flex justify-content-center"> 
    <h1><%= t "tags.new.title" %></h1>
  </div>
  <div class="row d-flex justify-content-center"> 
    <div class="col-md-6 col-md-offset-3"> 
      <%= render "layouts/form_tag" %>
    </div>
  </div>
</div>