body {
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}

.area {
  position: relative;
  margin-bottom: 30px;
}

.area .area-content {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.place {
  position: relative;
  margin-bottom: 30px;
  background: #fff;

  a {
    text-decoration: none;
  }
}

.area .area-content p {
  margin-bottom: 0;
  font-size: 22px;
  color: #fff;
  font-weight: 400;

  a {
    font-size: 12px;
    border-radius: 30px;
    font-weight: 400;
    padding: 0 12px;
    background: #1ec6b6;
  }
}

.area .thumb img {
  border-radius: 5px;
  width: 100%;
}

.section-place {
  background: #f7fafd;
}

.place .thumb img {
  border-radius: 5px;
  width: 100%;
  height: 200px;
}

.place .price {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #1ec6b6;
  padding: 7px 18px 4px 18px;
  border-radius: 18px;
  color: #fff;
  font-size: 16px;
}

.place .place-content {
  padding: 27px 20px 25px 20px;

  p {
    color: #7a838b;
    font-size: 14px;
  }
  
  a {
    h4 {
      color: #000;
      height: 60px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#error_explanation {
  color: red;
  
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

/* social login */

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

.btn-twitter {
  background-color: #55acee;
  color: white;
}

/* Profile */

.main-body {
  padding: 15px;
  margin-top: 20px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;
}

.card-helper {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body-helper {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
  margin-left: 2rem;
}

.space-helper {
  margin-right: -8px;
  margin-left: -8px;

  .col,
  [class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.mb-helper {
  margin-bottom: 1rem !important;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;

  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #d3d3d3;
  }
}

.gradient {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

/* Checkout */

.collect {
  background-color: #fafcfb;
  border-radius: 20px;
}

.darkWhite {
  color: #eaebf9;
}

.bg-top {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  border-radius: 10px 10px 0 0;
}

.desc {
  color: #b8babb;
  font-weight: 500;
  font-size: 1rem;
}

.btn-helper {
  border-radius: 10px;
  font-size: 80%;
}

/* My tours */

.images {
  width: 120px;
  height: 120px;
}