@import "bootstrap/scss/bootstrap";
@import "font-awesome";

.area {
  position: relative;
  margin-bottom: 30px;
}

.area .area-content {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.area .area-content p {
  margin-bottom: 0;
  font-size: 22px;
  color: #fff;
  font-weight: 400;
}

.place {
  position: relative;
  margin-bottom: 30px;
  background: #fff;
	
  a {
    text-decoration: none;
  }
}

.area .area-content p a {
  font-size: 12px;
  border-radius: 30px;
  font-weight: 400;
  padding: 0 12px;
  background: #1ec6b6;
}

.area .thumb img {
  border-radius: 5px;
  width: 100%;
}

.section-place {
  background: #f7fafd;
}

.place .thumb img {
  border-radius: 5px;
  width: 100%;
}

.place .price {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #1ec6b6;
  padding: 7px 18px 4px 18px;
  border-radius: 18px;
  color: #fff;
  font-size: 16px;
}

.place .place-content {
  padding: 27px 20px 25px 20px;
}

.place .place-content a h3 {
  color: #000;
  font-size: 22px;
}

.place .place-content p {
  color: #7a838b;
  font-size: 14px;
}